<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Monkey Wizard: Simian Sorcery</title>
    <meta name="description" content="Online Bullet Curtain Battle Game https://github.com/BrandonE/monkeywizard" />
    <meta name="keywords" content="monkey, wizard, simian, sorcery, online, game, bullet, curtain, battle" />
    <meta name="author" content="Brandon Evans, Allen Phelps, Kate Williams, Robert Ackley, Sean Spradlin, Wiley Walker" />

    <link rel="icon" type="image/png" href="/images/favicon.png">

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
</head>
<body>
<u>Controls:</u>

<ul>
    <li>Mouse: Move Wizard</li>
    <li>QWEADZXC: Set bullet to move up-left, up, up-right, left, right, down-left, down, or down-right</li>
</ul>

<p>Game ID <span id="gameId" /></p>
<p>Player #<span id="playerNum" /></p>
<p>Active Connections: <span id="activeConnections" /></p>
<p>Health:</p>

<ul id="health"></ul>

<p id="ended"></p>
</body>
</html>
